header {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  /* background-image: linear-gradient(to bottom, rgba(55, 50, 52,0), rgba(55, 50, 52,0)); */
  transition: backgroundImage 1s;
  z-index: 1;
  color: #373234;
}

.is-scrolled{
  background-image: linear-gradient(to bottom, rgba(247, 244, 244, 1), rgba(247, 244, 244,0.9));
}

.logo {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  line-height: 1em;
  letter-spacing: 0.2em;
  cursor: pointer;
}

.logo span {
  font-family: "Playfair Display", serif;
  font-weight: lighter;
  font-size: 13px;
}

.menu,
.menuMore {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.menu li:nth-child(3) {
  font-weight: 500;
  color: #A61804;
  border-bottom: 1px solid #A61804;
}

.menuMore li:nth-child(1) {
  color: #bdbdbd;
}

.menu li,
.menuMore li {
  letter-spacing: 0.3em;
  cursor: pointer;
}

.menu li:not(:nth-child(3))::after, .menuMore li::after{
  content: '';
  display: block;
  width: 0%;
  height: 1px;
  background-color: #A61804;
  transition: width 0.3s;
}

.menu li:hover::after, .menuMore li:hover::after{
  width: 100%;
}

.menu li:not(:last-child),
.menuMore li:not(:last-child) {
  margin-right: 29px;
}