*{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #f4f2f0;
  overflow-x: hidden;
  background-color: #F7F4F4;
}

h1,h2,h3,p,a,ul, button{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a{
  color: #373234;
}